<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Core.SyncApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laucher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sync"
        tools:targetApi="31">
        <activity
            android:name=".Features.Presentation.Screens.showDetails"
            android:exported="false" />
        <activity
            android:name=".Features.Presentation.Screens.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".Features.Presentation.Screens.Task"
            android:exported="false" />
        <activity
            android:name=".Features.Presentation.Screens.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Features.Presentation.Screens.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Features.Presentation.Screens.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".Features.Presentation.Screens.MainActivity"
            android:exported="false" />
    </application>

</manifest>